<?xml version="1.0" encoding="utf-8"?><Root><Track><Properties><RequiredCounters /><CounterActions /></Properties><Content><In Name="" X="0" Y="0" /><Out Name="" X="1000" Y="0" /><Platform X="0" Y="0" Width="1000" Height="500" Sticky="1" /><Area Name="RunInhibition" X="-216" Y="-349" Width="1499" Height="500" Type="Animation" /><ObjectReference Name="Server" X="225" Y="-448" Filename="triggers.xml" /><Image ClassName="black.v_black" X="0" Y="0" Layer="Black" Width="1000" Height="500" Factor="0"><Properties><Static><Matrix A="1000" B="0" C="0" D="500" Tx="0" Ty="0" /></Static></Properties></Image><ObjectReference Name="ZoomMin" X="-335" Y="-1127" Filename="triggers.xml" /><Area Name="RunFromInhibition" X="-258" Y="-491" Width="1563" Height="701" Type="Animation" /></Content></Track></Root>